* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
  }
  
body {
position: relative;
width: 1280px;
height: auto;
font-size: 14px;
display: flex;
flex-flow: row wrap;
text-align: start;
justify-content: center;
margin-left: auto;
margin-right: auto;
background-color: rgb(60, 60, 60);

}

body > * {
  flex: 1 100%;
}

header {
background: rgb(85, 85, 85);
height: 250px;
justify-content: center;
border-bottom: 2mm ridge rgb(25,25,25);
}

.profile {
display: flex;
flex-flow: row wrap;
/* column-gap: 60px; */
}

.avatar {
/* padding: 5px 5px 5px 5px; */
margin-top: 20px;
margin-left: 92px;
width: 200px;
height: 200px;
border: 5px solid rgb(60, 60, 60);
border-radius: 50%;
z-index: 1;
}

.profile__name {
position: absolute;
margin-top: 80px;
margin-left: 400px;
font-family: Open Sans;
font-size: 3rem;
font-weight: 900;
line-height: 2.19rem;
letter-spacing: 0%;
color: rgb(51, 51, 51);
/* Heading Medium */
/* color: rgb(241, 180, 62);
background-color: rgb(241, 180, 62); */
}

.name__container {
position: absolute;
width: 100%;
height: 5%;
margin-top: 60px;
color: rgb(51, 51, 51);
/* background: rgb(228, 230, 231); */
background-color: rgb(120, 185, 160);
}

.profile__title {
position: absolute;
margin-top: 140px;
margin-left: 400px;
/* color: rgba(255, 255, 255, 0.8); */
/* color: rgb(252, 251, 247); */
color: rgb(228, 230, 231);

}

.title {
  /* background-color: rgb(241, 180, 62); */
  /* background-color: rgb(130, 190, 195); */
  background-color: rgb(120, 185, 160);
  
}


h2 {
color: rgb(51, 51, 51);
font-family: Open Sans;
font-size: 1.63rem;
font-weight: 700;
line-height: 2.19rem;
letter-spacing: 0%;
/* text-align: start; */
}


.nav__menu{
position: absolute;
width: 100%;
display: flex;
background-color: rgb(70, 70, 70);
  /* overflow: hidden; */
z-index: 2;

} 
.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
 
}

.nav__menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav__menu a:hover {
  background-color: #ddd;
  color: black;
}

